<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" >
</head>
<body>
<div class="container">
    <h1>Register</h1>
<!--     form 전체를 자바 객체로 치환하기 위함-->
    <form th:object="${user}" th:action="@{/form}" th:method="POST" >
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email"  required th:field="*{email}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required th:field="*{password}">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirmPassword" required>
        </div>
        <button type="submit" class="btn-submit">Submit</button>
    </form>
</div>
</body>
</html>
